@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colours */
  --PRIMARY: #2d6a4f; /* btns, active inputs, highlights */
  --PRIMARY-HOVER: #22543d; /* btns hover effect */
  --PRIMARY-ACTIVE: #1b4332; /* btns press, active selection */
  --PRIMARY-DISABLED: #b7cdc2; /* disabled btns or inputs */
  --SECONDARY: #95d5b2; /* progress bars, sliders, minor btns */

  --SUCCESS: #40916c; /* form success */
  --ERROR: #d00000; /* form validation, failed calculation, alerts */

  --BACKGROUND: #f1f5f4; /* page background */
  --INPUT-BACKGROUND: #ffffff; /* input fields, cards */

  --MAIN-TEXT: #1b4332; /* main body, labels */
  --MUTED-TEXT: #6c757d; /* placeholders */
  --DISABLED-TEXT: #ced4da; /* disabled label text */

  --BORDER: #d8f3dc; /* input borders */
  --BORDER-HOVER: #74c69d;

  /* box-shadow for cards/modals */
  --BOX-SHADOW: 0 2px 8px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 70px 20px 50px;
  background-color: var(--BORDER);
  font-family: 'Roboto', sans-serif;
}

.loan-wrapper {
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid var(--BORDER);
  border-radius: 10px;
  box-shadow: var(--BOX-SHADOW);
  padding: 20px;
  background-color: var(--BACKGROUND);
}

.nav-links {
  display: flex;
  gap: 28px;
  margin: 5px 0 50px;
}

.nav-links li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: var(--MAIN-TEXT);
  cursor: pointer;
}

.nav-links li:is(:hover, :focus) {
  transform: scale(1.1);
}

/* Form style */
.loan-details-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.form-placeholder form {
  display: block;
}

label,
input {
  display: block;
  font-family: 'Inter', sans-serif;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
}

.form-header {
  font-size: 13px;
  margin-bottom: 30px;
}

.amount-wrapper,
.interest-wrapper,
.term-wrapper {
  position: relative;
  width: 100%;
}

.naira-symbol,
.percentage-symbol,
.years-symbol {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: bold;
  color: var(--MAIN-TEXT);
  pointer-events: none;
}

.naira-symbol {
  left: 0;
}
.percentage-symbol {
  right: 5px;
}
.years-symbol {
  right: 5px;
  font-size: 8px;
}

.per-term {
  color: var(--MAIN-TEXT);
  font-size: 8px;
}

.amount-input {
  padding-left: 18px;
}

.loan-input[type='number'],
.amount-input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: var(--BACKGROUND);
  margin-top: 15px;
  width: 230px;
  padding-bottom: 1px;
}

.loan-input:placeholder-shown {
  font-size: 10px;
  padding-bottom: 4px;
}

.loan-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid;
  box-shadow: none;
}

input[type='date'],
.loan-term {
  background-color: var(--BACKGROUND);
  padding: 2px 5px;
  border: 1px solid #00000070;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

::-webkit-calendar-picker-indicator {
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.loan-input[type='number']::-webkit-inner-spin-button,
.loan-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loan-input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.calculate-loan {
  border: 1px solid;
  border-radius: 6px;
  padding: 8px 10px;
  color: #fff;
  background-color: var(--PRIMARY);
  font-size: 12px;
  font-weight: 500;
  margin: 30px auto;
  transform: translateX(80px);
  cursor: pointer;
}

.calculate-loan:is(:hover, :focus) {
  background-color: var(--PRIMARY-HOVER);
  border-color: var(--BORDER-HOVER);
}

/* Table Style */

table {
  margin: -10px 0 25px;
  max-width: 320px;
  min-width: 190px;
  width: auto;
}

.loan-summary-table table {
  min-width: 280px;
}

.loan-summary-table,
.loan-schedule-table {
  display: none;
}

table,
tr,
th,
td {
  border-top: 1px solid var(--BORDER-HOVER);
  border-bottom: 1px solid var(--BORDER-HOVER);
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

caption {
  text-align: left;
  margin: 20px 0;
  font-weight: bold;
  font-size: 12px;
}

tr {
  font-size: 10px;
}

tr:nth-of-type(even) {
  background-color: var(--BORDER);
}

.loan-schedule-table {
  text-align: center;
}

.loan-schedule-table .estimated-payoff {
  text-align: left;
  margin: -15px 0 30px;
}

.loan-schedule-table .estimated-payoff h1 {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 8px;
}

.loan-schedule-table .estimated-payoff p {
  font-size: 16px;
  font-weight: bold;
}

.loan-schedule-table tr:nth-of-type(even) {
  background-color: var(--INPUT-BACKGROUND);
}

/* Chart style */
.chart-wrapper {
  border: none;
  border-radius: 10px;
  background-color: rgba(211, 247, 227, 0.644);
  width: 270px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.currency-choice {
  color: #fff;
  font-weight: bold;
  font-size: 9px;
  border: none;
  border-radius: 6px;
  background-color: #000;
  padding: 4px 7px;
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-end;
  cursor: pointer;
}

.canvas-container {
  width: 100%;
  max-width: 400px;
  height: 300px;
  padding: 5px 20px;
}

.chart-div-container {
  padding: 0 10px 50px;
}

.chart-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 3px 0;
}

.chart-details:last-child {
  border-top: 2px solid #0000008a;
  margin-top: 5px;
  padding-top: 5px;
}

.chart-details p {
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
}

.chart-details span {
  font-size: 13px;
}

@media (min-width: 768px) {
  .loan-wrapper {
    padding: 20px 20px 20px 50px;
  }
}
